---
/**
 * Project Hub: {{DISPLAY_NAME}}
 */
import ProjectHubLayout from '../../layouts/ProjectHubLayout.astro'
import { getProjectById } from '../../../packages/shared/src/data/projectLoader'

const project = getProjectById('{{PACKAGE_NAME}}')
if (!project) throw new Error('Project {{PACKAGE_NAME}} not found')
---

<ProjectHubLayout project={project} />
