---
import PostPreview from '@/components/writing/PostPreview.astro'
import PageLayout from '@/layouts/BaseLayout.astro'
import { getAllPosts, sortMDByDate } from '@/utils'
import Breadcrumbs from '../../../packages/shared/src/components/Breadcrumbs.astro'

const allPosts = await getAllPosts()
const sortedPosts = sortMDByDate(allPosts)

const meta = {
	description: 'Technical posts and essays on AI, product development, and culture.',
	title: 'Writing'
}
---

<PageLayout meta={meta}>
	<div class='w-full'>
		<Breadcrumbs />

		<h1 class='mb-2 mt-5 text-2xl font-bold'>Writing</h1>
		<p class='mb-8 text-sm text-muted-foreground'>Technical posts and essays on AI, product development, and culture.</p>

		{sortedPosts.length > 0 ? (
			<ul class='flex flex-col gap-y-4'>
				{sortedPosts.map((post) => (
					<PostPreview post={post} withDesc />
				))}
			</ul>
		) : (
			<p>No posts yet.</p>
		)}
	</div>
</PageLayout>
